:root{
    --clr-test: red;
    --drop-zone-height: 90vh;
    --drop-zone-width: 90vw;
    --drop-zone-border-size: 4px;
    --drop-zone-clr: blue;
    --drop-zone-bg-hover: rgb(170, 170, 235);
    --drop-zone-bg-error: rgb(235, 126, 126);
}

*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html,
body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
}

#drop-zone {
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    border: var(--drop-zone-border-size) dashed var(--drop-zone-clr);
    height: var(--drop-zone-height);
    position: relative;
    width: var(--drop-zone-width);
    font-size: 2rem;
}
#drop-zone.hover {
    background-color: var(--drop-zone-bg-hover);
}
#drop-zone.error{
    background-color: var(--drop-zone-bg-error);
}
#top-container{
    flex-direction: column;
}
#buttons-container {
    justify-content: space-around;
}
button {
    padding: 1em;

}
#rotate-button{
    color:green;

}
button:disabled{
    color: red;
}
#rotate-image {
    width: 2rem;
}
#canvas-container{
    flex-basis: 120%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}
canvas{
    max-height: 300px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    border: 2px dashed black;

    animation-duration: 700ms;
    animation-fill-mode: forwards;
}
canvas.rotate-right {
    animation-name: rotate-right;
}
canvas.rotate-left {
    animation-name: rotate-left;
}
@keyframes rotate-right{
    0%{
      opacity: 1;
      transform: rotate(0deg);
    }
    90%{
      opacity: .5;
    }
    100%{
      opacity: 1;
      transform: rotate(90deg);
      
    }
  }
  @keyframes rotate-left{
    0%{
      opacity: 1;
      transform: rotate(0deg);
    }
    90%{
      opacity: .5;
    }
    100%{
      opacity: 1;
      transform: rotate(-90deg);
      
    }
  }
  