@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

:root {
    /* --bg-transparent: rgba(153, 241, 249, 0.3); */
    --color-primary: rgba(0,0,0,.8);
    --color-secondary: rgba(27, 127, 193, .8);

    --bg-address: rgba(125, 125, 125, 0.55);
    --bg-section: rgba(153, 241, 249, 0.3);
    --bg-titre: rgba(61, 185, 195, 0.3);
    --color-header: white;
    --timer-anim: 500ms;
    --competence-img-size: 1em;
    --border-radius: 0.2em;
}

* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    padding       : 1rem;   
    display       : flex;
    flex-direction: column;
    max-width     : 120ch;
    margin        : 0 auto;
    color: var(--color-primary);
}


header {
    font-family: 'Roboto', sans-serif;
    display       : flex;
    flex-direction: column;
    /* height: 40vh; */
    /* background: url('./img/bg-header.jpg') center; */
    background-size: 100%;
    /* color: var(--color-header); */
    padding: 1em;
}

h1 {
    text-transform: uppercase;
    align-self    : center;
}
.identite {
    margin     : 0 auto;
    font-size  : 2.2em;
    font-weight: 900;
}

/* NAVIGATION */

nav{
    margin: 4em 0 2em 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-secondary);
}

.btn-top img{
    width: 1.5em;
    position: absolute;
    right: 1em;
    bottom: 1em;
}

.rue {
    font-size: 1.2em;
}

.tel::before {
    /* juste pour se servir du ::before */
    content: "tel: ";
}


/* MAIN */
main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main section {
    position: relative;
    margin-top: 3em;
    padding-bottom: 1em;
    background-color: var(--bg-section);
    border-radius: var(--border-radius);

}

main section h2 {
    background-color: var(--bg-titre);
    text-align: center;
    text-transform: uppercase;
    padding: .5em 0;
    margin-top: 0;
    font-style: italic;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
main section ul {
    margin-left: 2em;
}

main .dates {
    font-size  : 1.2em;
    font-weight: 700;
    text-decoration: underline;
}
main .dates::after {
    content: " :";
}

main .denomination {
    font-size: 1.1em;
    margin-bottom: 0;
}
main .annotation {
    font-size: 0.8em;
    margin: .8em 0;
    
}
main .annotation::before {
    content:"(";
}
main .annotation::after {
content:")";
}

/* competences */
.competences {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 
}
.competences h2 {
    align-self: normal;
}

.competences-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}
/* ADDRESS */
/* address {
    background-color: var(--bg-address);
    border-top-left-radius   : var(--border-radius);
    border-bottom-left-radius   : var(--border-radius);
    font-weight     : 600;
    padding         : 0 1em;
    animation: var(--timer-anim) cubic-bezier(0, 0, 0.2, 1) slideFromRight;
} */

/* ANIMATIONS */

@keyframes slideFromRight {
    0% { 
        transform: translate(200px,0);
        opacity: 0;
    }
    50% {
        opacity: .2;
    }
    100%   { 
        transform: translate(0 , 0); 
        opacity: 1;
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
    .references{

        flex-direction: column;
    }
  

}
