@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

:root {
    /* --bg-transparent: rgba(153, 241, 249, 0.3); */
    --color-primary: rgba(0,0,0,.8);
    --color-secondary: rgba(27, 127, 193, .8);

    --bg-address: rgba(125, 125, 125, 0.55);
    --bg-section: rgba(153, 241, 249, 0.3);
    --bg-titre: rgba(61, 185, 195, 0.3);

    --color-header: white;
    --timer-anim: 500ms;
    --competence-img-size: 1em;
    --border-radius: 0.2em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    color: var(--color-primary);
    width: 100%;
}
.container{
    padding       : 1rem;   
    display       : flex;
    flex-direction: column;
    max-width     : calc(120ch - .5rem);
    margin        : 0 auto;

}

header {
    font-family: 'Roboto', sans-serif;
    display       : flex;
    flex-direction: column;
    /* height: 40vh; */
    /* background: url('./img/bg-header.jpg') center; */
    background-size: 100%;
    /* color: var(--color-header); */
    padding: 1em;
}

h1 {
    text-transform: uppercase;
    align-self    : center;
}
.identite {
    margin     : 0 auto;
    font-size  : 2.2em;
    font-weight: 900;
}

/* NAVIGATION */

nav{
    margin: 4em 0 2em 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a {
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-secondary);
}


.btn-top {
    display: block;
    width: 1.5em;
    height: 1.5em;
    position: sticky;
    left: calc(100vw - 1.5em * 2) ;
    top: calc(100vh - 1.5em * 2);
    border-radius: 50%;
    z-index: 10;
}
.btn-top img{
    width: 1.5em;
    /* cursor: pointer; */
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main section {
    position: relative;
    margin-top: 3em;
    padding-bottom: 1em;
    background-color: var(--bg-section);
    border-radius: var(--border-radius);

}

/* main section::after{
    content: "";
    background-image: url("/img/up-arrow-icon.png");
    background-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    bottom: 1em;
    right: 1em;
    position: absolute;
} */
main section h2 {
    background-color: var(--bg-titre);
    text-align: center;
    text-transform: uppercase;
    padding: .5em 0;
    margin-top: 0;
    font-style: italic;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
main section .section-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    width: 100%;
} 
main section ul {
    margin-left: 2em;
}

main .dates {
    font-size  : 1.2em;
    font-weight: 700;
    text-decoration: underline;
}
main .dates::after {
    content: " :";
}

main .denomination {
    font-size: 1.1em;
    margin-bottom: 0;
}
main .annotation {
    font-size: 0.8em;
    margin: .8em 0;
    
}
main .annotation::before {
    content:"(";
}
main .annotation::after {
content:")";
}

/* COMPETENCES */

.competences-container{
  
}

/* CONTACT */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

/* CONTACT formulaire */

#form-contact {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);

    grid-template-areas: 
    "prenom nom"
    "email sujet"
    "text text"
    "text text"
    "button button";
    gap: 1em;
    width: 45%;
    /* font-size: 1.2em; */
}
#form-contact > * {
    /* padding: .5em; */
    font-size: 1.2em;
}
#form-contact > *::placeholder{
    color: var(--color-secondary);
}
#form-prenom {
    grid-area: prenom;
}
#form-nom {
    grid-area: nom;
}
#form-email {
    grid-area: email;
}
#form-sujet {
    grid-area: sujet;
}
#form-text {
    grid-area: text;
}
#form-button {
    grid-area: button;
    padding: .5em;
}

/* CONTACT address */
address{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    gap: 1em;
    /* height: 100%; */
    /* width: 50%; */
    width: 45%;
}

.adresse {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}
.adresse .div{
    display: flex;
    
}
.adresse img {
    width: 1rem;
    height: 1rem;
}


/* FOOTER */
footer{
    height: 2rem;
}

/* ANIMATIONS */

@keyframes slideFromRight {
    0% { 
        transform: translate(200px,0);
        opacity: 0;
    }
    50% {
        opacity: .2;
    }
    100%   { 
        transform : translate(0 , 0); 
        opacity : 1;
    }
}

/* MEDIA QUERIES */

@media (max-width: 768px) {

    #form-contact{
        grid-template-areas: 
        "prenom"
        "nom"
        "email"
        "sujet"
        "text"
        "text"
        "button";
        width: 80%;
    }
}
@media (max-width: 800px) {
    .references{
        
        flex-direction: column;
    }
    
    .contact-container{
        flex-direction: column;
    }
    
}

